@font-face {
    src: url("fonts/Cairo-VariableFont_slnt\,wght.woff2") format("woff2");
    font-family: 'Cairo';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color: pink;
    font-family: 'Cairo';
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    /* width: min(100% - 3rem, 95ch); */
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
width:100%;
grid-template-areas: 
    "v v c"
    "j h h"
    "j h h"
    "a a a"
    "d d d";
}

#history {
grid-area: h;
}

#history-title {
    grid-area: j;
}

#variations{
grid-area: v;
display: grid;
grid-template-columns: 1fr 1fr;
width: 800px;
}

#alphabet {
grid-area: a;
}

#download {
grid-area: d;
}

#variations-axes {
grid-area: c;
}
}
/* CSS for the footer */
footer{
    background-color: #FFA200;
    height:30px;
}

/* font styling area */

.download{
    color: #ffffff;
    font-variation-settings: "wght" 800, "slnt" 0;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
}
.download:hover {
    font-variation-settings: "wght" 900, "slnt" -11;
    text-decoration:underline;
}

.histpara{
    color: #FFA200;
    width: 800px;
    line-height: 2;
}

.alphabetter{
    color: #ffffff;
    font-size: 25px;
    font-variation-settings: "wght" 400, "slnt" 0;
    text-align: center;
}

h2{
    font-variation-settings: "wght" 800, "slnt" 0;
}

.history-side{
    transform-origin: rotate(-90deg);
    font-size: 40px;
    color: #FFA200;
    text-align: center;
    text-decoration: underline;
}

.axes-side{
    color: #ffffff;
    font-size: 40px;
    transform-origin: rotate(90deg);
    text-align: center;
    text-decoration: underline;
}

h3{
    text-align: center;
    font-size: 300px;
    margin: 100px;
    animation: weightChange 10s infinite;
}
/* h */
@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wght" 200, "slnt" -11;
    }
    50%{font-variation-settings: "wght" 1000, "slnt" 11;
    }
}
/* animations for the variations section */
.weight{
    animation: weightVariations 5s infinite;
}
@keyframes weightVariations {
    0%, 100%{
        font-variation-settings: "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "wght" 1000, "slnt" 0;
    }
}
/* where the animation is for the width change */
.slant{
    animation: widthVariations 5s infinite;
}
@keyframes widthVariations {
    0%, 100%{
        font-variation-settings: "wght" 400, "slnt" -11;
    }
    50%{font-variation-settings: "wght" 400, "slnt" 11;
    }
}

h5{
    font-size:90px;
    color:#ffffff;
    margin:15px;
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

